.menu {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(47,53,79,0.9);
  height: 100vh;
  transform: translateY(-50px);
  transition: 0.3s transform, 0.3s opacity;
  will-change: transform;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(47,53,79,0.9);
}
.menu-checkbox:checked ~ .header .menu-open {
  background-image: url("../images/icon-close.svg");
}
.menu-checkbox:checked ~ .header .header-logo {
  background-image: url("../images/logo-bookmark-white.svg");
}
.menu-checkbox:checked ~ .header .menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    position: initial;
    height: auto;
    background: initial;
  }
  .menu a {
    color: var(--veryDarkBlue);
  }
  .menu li {
    border: none;
  }
  .menu li:last-child a {
    boder: none;
    border-radius: 0.5em;
    margin-top: 0;
    padding: 0.7em 2em;
    background: var(--softRed);
    color: #fff;
    margin-left: 2em;
  }
  .menu ul {
    display: flex;
  }
  .menu-open {
    display: none;
  }
}
.header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
  transition: 0.3s background;
  z-index: 2;
}
.header-logo {
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url("../images/logo-bookmark.svg") no-repeat center;
  background-size: contain;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  text-align: center;
  padding: 4em 0;
}
.hero-image {
  max-width: 100%;
}
.hero-buttons {
  padding-top: 1em;
}
@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    padding: 1em 0;
  }
  .hero-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 450px 1fr;
    grid-template-areas: "content image";
  }
  .hero-imageContainer {
    grid-area: image;
    position: relative;
    top: 50px;
    text-align: center;
  }
  .hero-content {
    grid-area: content;
  }
}
.tabs {
  margin-top: 2em;
  border-top: 1px solid var(--grayishBlue);
}
.tabs-link {
  border-bottom: 1px solid var(--grayishBlue);
}
.tabs-content {
  display: none;
  flex-direction: column;
}
.tabs-content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}
.tabs-grid {
  margin-top: 4em;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
}
.tabs label:after {
  display: none;
  content: "";
  height: 5px;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  box-shadow: inset 0 -15px 0px -10px var(--softRed);
}
.tabs input {
  display: none;
}
.tabs input[id="bookmarking"]:checked ~ ul [for="bookmarking"]:after {
  display: block;
}
.tabs input[id="bookmarking"]:checked ~ .tabs-grid #tab-bookmarking {
  display: flex;
}
.tabs input[id="searching"]:checked ~ ul [for="searching"]:after {
  display: block;
}
.tabs input[id="searching"]:checked ~ .tabs-grid #tab-searching {
  display: flex;
}
.tabs input[id="sharing"]:checked ~ ul [for="sharing"]:after {
  display: block;
}
.tabs input[id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .tabs {
    border-top: none;
    text-align: left;
  }
  .tabs ul {
    display: flex;
    justify-content: center;
  }
  .tabs label {
    padding: 2em 2em;
  }
  .tabs label:after {
    width: 100%;
    transform: translateX(0);
  }
  .tabs img {
    margin-right: 5em;
    margin-bottom: 0;
  }
  .tabs-content {
    flex-direction: row;
    align-items: center;
  }
}
.features {
  text-align: center;
  padding: 3em 0;
}
.features .u-wrapper > .u-p {
  max-width: 580px;
  margin: 0 auto;
}
.download {
  text-align: center;
  padding: 3em 0;
}
.download .u-wrapper > .u-p {
  margin-bottom: 3em;
  max-width: 500px;
  margin: auto;
}
.download-grid {
  margin-top: 3em;
  display: grid;
  grid-row-gap: 2em;
  margin: 0 1em;
}
.download-item {
  box-shadow: 0 10px 11px -5px rgba(83,104,223,0.3);
  border-radius: 1em;
  padding: 1.5em;
  padding-top: 2.5em;
  background: url("../images/bg-dots.svg") repeat-x center bottom 100px;
}
.download-item .u-p {
  margin-bottom: 4em;
  margin-top: 0.5rem;
}
.download-item .u-h3 {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .download-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    padding-bottom: 7em;
  }
  .download-item:nth-of-type(2) {
    top: 4em;
    position: relative;
  }
  .download-item:nth-of-type(3) {
    top: 7em;
    position: relative;
  }
}
.carousel {
  text-align: left;
  max-width: 580px;
  margin: 2em auto;
}
.carousel-content[open] .carousel-header {
  border: none;
}
.carousel-content[open] .carousel-header::-webkit-details-marker {
  color: var(--softRed);
}
.carousel-header {
  padding: 1.5em 0;
  border-bottom: 1px solid var(--lightGRay);
  font-size: 0.9em;
}
.carousel-header:focus {
  outline: 0;
}
.carousel-header::-webkit-details-marker {
  color: var(--softBlue);
  float: right;
}
@media screen and (min-width: 1024px) {
  .carousel {
    border-top: 1px solid var(--lightGRay);
  }
}
.questions {
  padding: 4em 0 8em;
  text-align: center;
}
.questions .u-wrapper > .u-p {
  max-width: 580px;
  margin: auto;
}
.join {
  background: var(--softBlue);
  color: #fff;
  padding: 3em 0;
  text-align: center;
}
.join small {
  text-transform: uppercase;
  letter-spacing: 4px;
}
@media screen and (min-width: 1024px) {
  .join .u-h4 {
    font-size: 1.7em;
    max-width: 450px;
    margin: 1em auto;
  }
}
.form {
  max-width: 450px;
  margin: auto;
}
.form .u-button {
  margin: 0;
}
.form-input {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  outline: 0;
}
.form-input::-webkit-input-placeholder {
  color: var(--lightGRay);
}
@media screen and (min-width: 1024px) {
  .form {
    display: flex;
  }
  .form-input {
    flex-shrink: 0;
    width: 70%;
    margin-right: 1em;
    margin-bottom: 0;
  }
}
.footer {
  background: var(--veryDarkBlue);
  text-align: center;
  padding: 3em 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer-menu {
  margin-top: 2em;
}
.footer-menu a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em;
  color: var(--lightGRay);
}
.footer-social {
  margin-top: 2em;
}
.footer-social a {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.footer-social .twitter {
  background: url("../images/icon-twitter.svg") no-repeat center;
}
.footer-social .facebook {
  background: url("../images/icon-facebook.svg") no-repeat center;
}
@media screen and (min-width: 1024px) {
  .footer img {
    margin-right: 1em;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .footer-menu {
    display: flex;
    margin: 0;
  }
  .footer-primary {
    display: flex;
    align-items: center;
  }
}
:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
  --lightGRay: #e5e5e5;
}
body {
  font-family: 'Rubik', sans-serif;
  color: var(--veryDarkBlue);
  margin: 0;
  font-size: 18px;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.is-hidden {
  display: none !important;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
.u-h1,
.u-h2,
.u-h4 {
  font-size: 2em;
  font-weight: 500;
}
.u-h2 {
  font-size: 1.5em;
}
.u-h4 {
  font-size: 1.3em;
  margin-top: 0.5em;
}
.u-p {
  color: var(--grayishBlue);
  line-height: 1.8;
  font-size: 0.9em;
}
.u-button {
  background: var(--softBlue);
  color: #fff;
  padding: 1em 1em;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 0.5em;
  margin-left: 0.5em;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0 5px 10px -5px var(--softBlue);
}
.u-button:first-of-type {
  margin: 0;
}
.u-button.is-red {
  color: #fff;
  background: var(--softRed);
}
.u-button.is-gray {
  color: var(--veryDarkBlue);
  background: #f7f7f7;
}
.u-button.is-fullWidth {
  width: 100%;
}
