.download
  text-align center
  padding 3em 0
  .u-wrapper
    > .u-p
      margin-bottom 3em
      max-width 500px
      margin auto
  &-grid
    margin-top 3em
    // border: 1px solid purple;
    display grid
    grid-row-gap 2em
    margin 0 1em
  &-item
    // border: 1px solid blue;
    box-shadow: 0 10px 11px -5px rgba(83, 104, 223, .3)
    border-radius: 1em
    padding: 1.5em
    padding-top 2.5em
    background url('../images/bg-dots.svg') repeat-x center bottom 100px
    .u-p
      margin-bottom 4em
      margin-top .5rem;
    .u-h3
      margin-bottom .5rem
      margin-top 1.5rem
  @media screen and (min-width: 1024px)
    &-grid
      grid-template-columns: 1fr 1fr 1fr
      grid-column-gap: 2em
      padding-bottom 7em
    &-item
      &:nth-of-type(2)
        top 4em
        position relative
      &:nth-of-type(3)
        top 7em
        position relative
