.footer
  background: var(--veryDarkBlue)
  text-align center
  padding 3em 0
  a
    color white
    text-decoration: none
  &-menu
    margin-top 2em
    a
      display block
      text-transform: uppercase
      letter-spacing: 1px
      padding 1em
      color var(--lightGRay)
  &-social
    margin-top 2em
    a
      width 40px
      height 40px
      display inline-block
    .twitter
      background: url('../images/icon-twitter.svg') no-repeat center
    .facebook
      background: url('../images/icon-facebook.svg') no-repeat center
  @media screen and (min-width: 1024px)
    img
      margin-right 1em
    &-content
      display flex
      justify-content: space-between
    &-menu
      display: flex
      margin 0
    &-primary
      display flex
      align-items: center
