@import "./menu.styl"

.header
  background: white
  position sticky
  top 0
  left 0
  right 0
  padding 1em 0
  transition .3s background
  z-index 2
  &-logo
    display inline-flex
    width 150px
    height 40px
    background url('../images/logo-bookmark.svg') no-repeat center
    background-size contain
  &-content
    display flex
    justify-content: space-between
    align-items: center