.join
  background var(--softBlue)
  color white
  padding 3em 0
  text-align: center
  small
    text-transform: uppercase
    letter-spacing: 4px
  @media screen and (min-width: 1024px)
    .u-h4
      font-size 1.7em
      max-width 450px
      margin 1em auto
.form
  max-width 450px
  margin auto
  .u-button
    margin 0
  &-input
    width 100%
    padding 1em
    box-sizing: border-box
    margin-bottom 1em
    border-radius: 10px
    border none
    font-size 1em
    outline 0
    &::-webkit-input-placeholder
      color var(--lightGRay)
  @media screen and (min-width: 1024px)
    display flex
    &-input
      flex-shrink: 0
      width 70%
      margin-right 1em
      margin-bottom 0
