.join
  background var(--softBlue)
  color white
  padding 3em 0
  text-align: center
  small
    text-transform: uppercase
    letter-spacing: 4px
.form
  .u-button
    margin 0
  &-input
    width 100%
    padding 1em
    box-sizing: border-box
    margin-bottom 1em
    border-radius: 10px
    border none
    font-size 1em
    outline 0
    &::-webkit-input-placeholder
      color var(--lightGRay)