.menu
  // display: none
  visibility hidden
  position: absolute
  opacity 0
  left 0
  right 0
  top: 100%
  background rgba(47, 53, 79, .9)
  height 100vh
  transform translateY(-50px)
  transition .3s transform, .3s opacity
  will-change transform
  ul
    padding 0
    list-style: none
  li
    border-top 1px solid var(--grayishBlue)
    &:last-child
      a
        border: 2px solid white;
        border-radius: 5px
        margin-top 1em
        padding .7em
  a
    color white
    text-decoration: none
    text-transform: uppercase
    // border: 1px solid red;
    display: block
    text-align: center
    padding 1em
    letter-spacing: 2px
  &-open
    user-select: none
    width 40px
    height 40px
    display inline-flex
    cursor pointer
    background url('../images/icon-hamburger.svg') no-repeat center
  &-checkbox
    display none
    &:checked
      & ~ .header
        background: rgba(47, 53, 79, .9)
        .menu-open
          background-image url('../images/icon-close.svg')
        & .header-logo
          background-image: url('../images/logo-bookmark-white.svg')
        & .menu
          transform translateY(0)
          visibility visible
          opacity 1
  @media screen and (min-width: 1024px)
    transform translateY(0)
    visibility visible
    opacity 1
    position: initial
    height auto
    background: initial
    a
      color var(--veryDarkBlue)
    li
      border none
      &:last-child
        a
          boder none
          border-radius: .5em
          margin-top 0
          padding .7em 2em
          background: var(--softRed)
          color white
          margin-left 2em
    ul
      display flex
    &-open
      display none



