@import './header.styl'
@import './hero.styl'

:root
  --softBlue: hsl(231, 69%, 60%)
  --softRed: hsl(0, 94%, 66%)
  --grayishBlue: hsl(229, 8%, 60%)
  --veryDarkBlue: hsl(229, 31%, 21%)


body
  background: lightgray
  font-family: 'Rubik', sans-serif
  color var(--veryDarkBlue)
  margin: 0
  font-size 18px

.u-wrapper
  max-width 1280px
  margin auto
  padding 0 1em

