.tabs
  // border: 1px solid red;
  margin-top 2em
  border-top 1px solid var(--grayishBlue)
  &-link
    border-bottom 1px solid var(--grayishBlue)
  &-content
    display: none
    flex-direction: column
    img
      max-width 100%
      margin-bottom 1.5em
  &-grid
    margin-top 4em
  label
    // border: 1px solid red;
    padding 1em 0
    display block
    position: relative
    &:after
      display none
      content ""
      height 5px
      position: absolute
      bottom 0
      width 50%
      left 0
      transform translateX(50%)
      box-shadow: inset 0 -15px 0px -10px var(--softRed)
  input
    display none
  input[id="bookmarking"]:checked
    & ~ ul [for="bookmarking"]:after
        display: block
    & ~ .tabs-grid #tab-bookmarking
      display flex
  input[id="searching"]:checked
    & ~ ul [for="searching"]:after
      display: block
    & ~ .tabs-grid #tab-searching
      display flex
  input[id="sharing"]:checked
    & ~ ul [for="sharing"]:after
      display: block
    & ~ .tabs-grid #tab-sharing
      display flex

  @media screen and (min-width: 1024px)
    border-top none
    text-align: left
    ul
      display flex
      justify-content: center
    label
      padding 2em 2em
      &:after
        width 100%
        transform: translateX(0)
    img
      margin-right 5em
      margin-bottom: 0
    &-content
      flex-direction: row
      align-items: center